.todo {
  transition: background-color 0.3s ease, opacity 0.3s ease,
    text-decoration 0.3s ease;
  padding: 6px;
  margin: 8px;
  border-radius: 10px;
}

.todo.done {
  background-color: rgba(0, 0, 0, 0.1);
}

.todo-text {
  cursor: pointer; /* Gör texten klickbar för att starta edit mode */
}

.todo-text:hover {
  text-decoration: underline;
}

.todo-edit {
  display: flex;
  align-items: center;
}

.todo-edit input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.todo-edit button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #17181f;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.todo .fa-icon {
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
